*{
    padding: none;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: Poppins;
    background: #28182d;
}
header{
    width: 100%;
    height: 70px;
    background: #f5fd10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80 80px;
    margin-top: 15px;
}
.logo{
    font-family: Romance Logic Demo;
    font-size:40px;
    color: #e1ff00;
    margin-top: 15px;
    justify-content: center;
    display: flex;
    text-align: center;
}
.bar{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    display: block;
    color:#000000;
    font-size: 20px 
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.2s;
    margin: 0 15px;
}
.nav-bar ul li a:hover{
    color: #fcf3ff;
    background: #b3b905;
    padding-left: 7px;
    padding-right: 7px;
}
.nav-bar ul li a.active{
    color: #fcf3ff;
    background: #b3b905;
    padding-left: 7px;
    padding-right: 7px;
}
@media only screen and (max-width: 1320px){
    header{
        padding: 0 50px;
    }
}
